.fixed_header {
    width: 100%;
    height: 300px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100%;
  }
  .fixed_header thead tr {
    display: block;
  }
  .fixed_header thead {
    background: black;
    color: #fff;
  }
  .fixed_header th,
  .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
  }

  .inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile:focus + label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  .inputfile + label * {
    pointer-events: none;
  }